<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:centre">
  <h1>
   {{ title }}
  </h1>
  </div>
  <div style="text-align:right">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
    </div>
<div style="text-align:left">
  <img  width="100"
            src="chrysaliss.png"
            alt="chrysalis logo" />
          </div>
<ul>
  <li><a routerLink="company">Company</a></li>
  <li><a routerLink="hr">Human Resources</a></li>
  <li><a routerLink="resources">Resources</a></li>
  <li><a routerLink="finance">Finance</a></li>
  <li><a routerLink="marketing">Marketing</a></li>
  </ul>
<router-outlet></router-outlet>